<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taking Input</title>
</head>
<body>
	<div>
		<form id="MyForm1" action="/postrequesttest/" method="post">
			<label for="CheckboxTest1">Return JSON?</label>
			<input id="CheckboxTest1" type="checkbox" name="CheckboxTest1">
			<label for="TextboxTest1">Type Some Words</label>
			<input id="TextboxTest1" type="text" name="TextboxTest1">
			<input id="SubmitTest1" type="submit" value="Submit">
		</form>
	</div>
</body>
</html>